@use "../../../styles/mixins" as *;

.flex-start-row {
  @include flex(
    $align: center,
    $gap: 0.64em
  );
}

// Filter Section
section#filter-section {
  @include flex(
    $gap: 0.64em,
    $justify: center,
    $direction: column,
    $align: flex-start,
  );

  span {
    font-size: 0.8em;
  }
}

.filter-button {
  @include icon-button();

  img {
    width: 2em;
  }
}

.filter-button-long {
  @include pill-button();

  > div {
    @include flex(
      $direction: row,
      $align: center
    );
  }

  img {
    width: 1.6em;
  }
}

.filter-button:hover,
.filter-button-long:hover {
  background-color: var(--main);
}

.filter-button.active,
.filter-button-long.active {
  border: 1px solid var(--accent);
}

// Search Section
div.search-section {
  @include flex($align: center);

  position: relative;
  padding-right: 1.6em;

  div.search-icon {
    @include flex($align: center);

    margin-left: 1em;
    position: absolute;
    left: 2%;
  }

  input {
    width: 100%;
    padding: 10px 16px 10px 48px;

    box-sizing: border-box;
    border: none;
    border-radius: 32px;

    background: var(--search-bar);
    color: #fff;
    font-size: 14px;
  }
}

span#total {
  font-size: 0.8em;
}

div.search-count {
  @include flex($align: center);

  font-size: 14px;
}

// Characters Section
div#card-container {
  @include flex(
    $justify: flex-start,
    $align: center,
    $gap: 1em
  );
  padding-left: 3em;
  flex-wrap: wrap;
}

div.card {
  flex: 0 0 160px;
  overflow: hidden;
  transform: skew(-6deg);
  background-color: var(--card-bg);
  transition: transform 0.1s ease, border 0.3s ease;
}

div.card:hover {
  transform: skew(-6deg) scale(1.1);
  border: 1px solid var(--shadow-color);
  cursor: pointer;
  .card-shine {
    transform: skew(-36deg) translateX(-100em);
    background-color: rgba(255, 255, 255, 0.05);
  }
}

div.card {
  position: relative;
  .card-element,
  .card-quality,
  .card-highlight,
  .card-shine,
  .card-name {
    position: absolute;
    transform: skew(6deg, 0deg);
    z-index: 1;
    img { object-fit: contain } 
  }
  .card-element { 
    top: 0;
    img { width: 32px; }  
  }
  .card-quality {
    z-index: 0 ; 
    right: -32%;
    transform: rotateZ(-90deg); 
  }
  .card-name { 
    top: 88%;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px var(--main);
    color: white;
    text-overflow: ellipsis;
    width: 80%;
    font-weight: 600;
    left: 10%;
  }
  .card-highlight { 
    height: 100%;
    width: 80px;
    transform: skew(36deg);
    background-color: var(--shadow-color);
    z-index: -1;
    top: 0;
   }
   .card-shine {
    height: 100%;
    width: 80px;
    transform: skew(-36deg);
    transition: transform 800ms ease-in;
    
    z-index: -2;
    left: 120%;
    top: 0;
   }
}

a.char-nav {
  div {
    overflow: hidden;
    background: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}