@use '../../index.scss' as *;

@mixin button-container(
  $fill: none,
  $border: 1px solid black,
  $gap: none
) {
  @include flex-container(row, center, center);
  background-color: $fill;
  border: $border;
  gap: $gap;
}


div.content {
  overflow: auto;
}

div.search {
  @include flex-container(row, center, flex-start);
  position: relative;
  padding-right: 1em;
  
  div.search-icon {
    @include flex-container(row, center, center);
    position: absolute;
    left: 2%;
  }
  input {
    width: 40%;
    padding: 10px 16px 10px 42px;
    border: none;
    border-radius: 32px;
    background: var(--search-bar);
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
  }
}
div.search-count {
  @include flex-container(row, center, center);
  font-size: 14px;
}

div.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
}

a.char-nav{
  div {
    width: auto;
    height: 200px;
    overflow: hidden;
    background: #434343;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}