@use "./styles/mixins" as *;

:root {
  // colors
  --main: #CDCBB0;
  --text: #EBEAE0;
  --sub: #c9c9c9;
  --accent: #AFAC83;
  --gray-text: #848484;
  --search-bar: rgba(56, 55, 55, 0.32);
  --card-bg: rgba(34, 34, 34, 0.32);
  --bg: linear-gradient(2deg,rgb(69, 56, 3) 0%, rgb(43, 43, 43) 39%, rgb(43, 43, 43) 64%, rgb(28, 27, 27) 76%, rgb(0, 0, 0) 93%);
  --card-background: #232323;
  --card-border: #AFAC83;
  --thin: #B6B6B62E;

  // fonts
  --mFont: 'EnglishFont', 'JapaneseFont', 'Noto Sans', 'Apple SD Gothic Neo', "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --heading: 'EnglishFont', 'JapaneseFont', 'Noto Sans', 'Apple SD Gothic Neo', "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  // spacing
  --spacing: 1rem;

  color-scheme: light dark;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: var(--mFont);
  background-image: url('./assets/webp/T_BgUiCommonNew01_UI.webp');
  background-size: cover;
  background-position: center;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100svh;
  @include flex();
}
