
@mixin flex-container(
  $flex-dir: column,
  $flex-align: center,
  $justify: center
) {
  display: flex;
  flex-direction: $flex-dir;
  align-items: $flex-align;
  justify-content: $justify;
}

:root {
  --main: #CDCBB0; // main theme
  --text: #EBEAE0; // text color
  --sub: #f3f4f6;
  --accent: #AFAC83;
  --bg: linear-gradient(2deg,rgb(69, 56, 3) 0%, rgb(43, 43, 43) 39%, rgb(43, 43, 43) 64%, rgb(28, 27, 27) 76%, rgb(0, 0, 0) 93%); // bg gradient
  
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  background: #000000;
  background: linear-gradient(2deg,rgba(0, 0, 0, 1) 0%, rgba(43, 43, 43, 1) 39%, rgba(43, 43, 43, 1) 64%, rgba(28, 27, 27, 1) 76%, rgba(0, 0, 0, 1) 93%);
  --search-bar: rgba(56, 55, 55, 0.32);

  --sans: 'EnglishFont', 'JapaneseFont', 'Noto Sans', 'Apple SD Gothic Neo', "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --heading: 'EnglishFont', 'JapaneseFont', 'Noto Sans', 'Apple SD Gothic Neo', "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: -0.02rem;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

::view-transition-group(root) {
  animation-duration: 1s;
  animation-timing-function: ease;
}
::view-transition-old(root) {
  animation-name: slide-out;
}
::view-transition-new(root) {
  animation-name: slide-in;
}

@keyframes slide-out {
  to {
    translate: -100vw;
  }
}
@keyframes slide-in {
  to {
    translate: 100vw;
  }
}

body {
  margin: 0;
  background-image: url('./assets/webp/T_BgUiCommonNew01_UI.webp');
  background-size: cover;
  background-position: center;
}

#root {
  width: 100%;
  max-width: 100%;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

