

div.admin { 
  width: 100%;
  display: grid;
  grid-template-columns: minmax(220px, 280px) 1fr;
  grid-template-rows: 6% 1fr;
  height: 100vh;

  div.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;

    div.main-wrapper {
      box-sizing: border-box;
      height: 100%;
      width: calc(100% - 320px);
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 2em 16%;

      div.character-list {
        min-height: 0;
        overflow: hidden;
      }

      div#status-msg.view-card {
        position: absolute;
      } 
    }
  }

  div.header-container { margin-bottom: 1em; }
}

@media screen and (max-width: 1024px) {
  div.admin{
    grid-template-columns: minmax(220px, 240px) 1fr; 
    nav#side-bar {
      a.title, > img {
        font-size: 2.2em;
      }
    }

  }
}

@media screen and (max-width: 768px) {
  div.admin{
    div.content {
      grid-column: 1 / 3;
    } 
    div#nav-bar {
      display: block;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    nav#side-bar {
      display: none;
    }

  }
}
